.title {
    margin: 0 0 30px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;

    background: #4e93e6;
    width: 55px;
    height: 1px;
    left: 50%;
    transform: translate(-50%, 50%);
    /*margin: 30px auto;*/
}

.title h2 {
    /*font-size: 36px;*/
    margin: 0 0 30px;

    font: 400 36px/1.2 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
}