@import "../common/styles/sass/variables";

.mainBlock {
    min-height: 100vh;
    background-color: $bgColor;

}
.mainBlock h1 span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    background: #4e93e6;
}


.text {
    border: white 1px solid;
    min-height: 200px;
    min-width: 450px;
    background-color: $bgColor;
    color: $textColor;

}

.text span {
    //font-size: 16px;
    font: 400 16px/1.8 'Poppins', sans-serif;
}

//
.text h1 {
    //font-size: 50px;
    font: 700 40px/1.2 'Josefin Sans', sans-serif
    //padding: 10px 0 10px;
}
.text p {
    font: 400 14px/1.8 'Poppins', sans-serif;
    font-size: 27px;
    margin: 0;
}



.photo {
    max-height: 430px;
    background-color: aqua;
}

.myPhoto {

}