.container1 {
    height: 100vh;
    background-color: lightgreen;
    border: 1px solid;
    box-sizing: border-box;


}


.block {

    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*box-sizing: border-box;*/
}

.container2 {
    height: 350px;
    width: 600px;
    background-color: sandybrown;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*box-sizing: border-box;*/
}



.form {

    border: 1px solid;
    display: flex;
    height: 150px;
    width: 300px;
    flex-direction: column;
    justify-content: space-between;

}

.textarea {
    min-height: 70px;

}

.title {
    background-color: darkgray;
    text-align: center;
}
.button {
    width: 100px;
    height: 40px;
    background-color: darkgray;
}
